BasedOnStyle: Microsoft

DerivePointerAlignment: false
PointerAlignment: Left
FixNamespaceComments: true

AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortEnumsOnASingleLine: true
AllowAllConstructorInitializersOnNextLine: true
BreakConstructorInitializers: BeforeComma
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: true
    AfterClass: true
    AfterControlStatement: Always
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    BeforeCatch: false
    BeforeElse: true
    BeforeLambdaBody: true
    BeforeWhile: true
    SplitEmptyRecord: false


AlignTrailingComments: true
ReflowComments: true
CommentPragmas: '^\\.+'
PenaltyBreakComment: 0

AlwaysBreakAfterDefinitionReturnType: None
PenaltyReturnTypeOnItsOwnLine: 100000000

IndentAccessModifiers: false
AccessModifierOffset: -4
